.classA {
    color: orange;
}

.classB {
    font-size: 24px;
}

.classC {
    color: red;
}

.classD {
    font-weight: bold;
}

.classE {
    font-size: 20px;
}

.classF {
    color: blue;
}

.classM {
    display: block;
}

.classN {
    display: none;
}